* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
}

.p1b,
.p2b {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, 1fr));
    grid-template-rows: repeat(10, minmax(50px, 1fr));

}

.p1b div,
.p2b div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

footer,
header {
    display: flex;
    background-color: rgb(122, 151, 248);
    height: 15vh;
    font-size: 7vh;
    justify-content: center;
    align-items: center;
}

footer{
    font-size: large;
   
}

.hit {
    background-image: url(../src/images/icons8-fire-48.png);
    background-color: rgb(245, 169, 169);
    background-size: 100%;
}

.ship {
    background-color: blue;
}

.miss {
    background-image: url(../src/images/close.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.sur{
    background-image: url(../src/images/close.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.scale{
    background-size: 100%;
}

.startNew{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    top: 25%;
    left: 44%;
    border: 1px solid rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
}

.startNew p{
    font-size: 24px;
    text-align: center;
}

.startNew button {
    height: 50px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
}

button:hover{
    background-color: rgb(17, 0, 255);
    color: white;
}

.curtain{
    position: absolute;
    height: 100%;
    width: 100%;
}